{% extends 'base.html.twig' %}

{% block title %}Tvorba rozvrhu{% endblock %}

{% block body %}

    {{ form_start(form, {'attr' : {'class' : 'needs-validation', 'novalidate' : true, 'style' : 'min-width: 400px'}}) }}

    <div class="errors">
        {{ form_errors(form) }}
    </div>

    <h3 class="h3 card-title mb-3 font-weight-normal">Přidání pole do rozvrhu</h3>

    <br>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Předmět</span>
        </div>
        {{ form_widget(form.predmet) }}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Vyučující</span>
        </div>
        {{ form_widget(form.ucitel) }}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Učebna</span>
        </div>
        {{ form_widget(form.ucebna) }}
    </div>

    <hr>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Den</span>
        </div>
        {{ form_widget(form.den) }}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Čas</span>
        </div>
        {{ form_widget(form.doba) }}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Třída</span>
        </div>
        {{ form_widget(form.trida) }}
    </div>

    <br>

    {{ form_row(form.save) }}

    {{ form_end(form) }}

{% endblock %}